
.header {    
    background-color: #4aaaa5;
    color: white;
    padding: 15px;
    width: 350px;
    height: 70px;
    position: absolute;
    left: 90px;
    top: 0px;
    font-size: 22px;
    font-family: 'Georgia', Times, serif;
    text-align: right;
}


.footer {
    background-color: #666666;
    color: white;
    padding: 15px;
    width: 1345px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 580px;
    text-align: center;
    border-top: 6px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #4aaaa5;
}
.columncontent {
    background-color: white;
    width: 650px;
    height: 450px;
    padding: 25px;
    margin: 0px auto;
    position: absolute;
    left: 90px;
    top: 105px;
    border-top: 0.1px;
    border-style: solid;
    border-color: #cccccc;
}

p {
    float: right;
    font-size: 14px;
    color: #777777;
    font-family: arial, Helvetica, sans-serif;
    position: absolute;
    right: 110px;
    top: 150px;
    height: 500px;
    width: 300px;
}

.backgroundimage, image {
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 80px;
    border-top: 3px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #cccccc;
}


.sidebar {
    background-color: white;
    width: 290px;
    height: 210px;
    padding: 25px;
    margin: 0px auto;
    position: absolute;
    left: 800px;
    top: 105px;
    border-top: 0.1px;
    border-style: solid;
    border-color: #cccccc;

}
.sidebar2 {
    background-color: white;
    width: 290px;
    height: 210px;
    padding: 25px;
    margin: 0px auto;
    position: absolute;
    left: 800px;
    top: 105px;
    border-top: 0.1px;
    border-style: solid;
    border-color: #cccccc;

}

h1 {
   font-size: 25px;
   background-color: white;
   font-family: 'Georgia', Times, serif;
   text-align: left;
   color: #4aaaa5;
   border-bottom: 2px;
   border-bottom-style: solid;
   border-color: #dddddd;
}


h3 {
   font-size: 35px;
   background-color: white;
   font-family: 'Georgia', Times, serif;
   text-align: left;
   color: #4aaaa5;
   border-bottom: 2px;
   padding: 0px 0px 35px 0px;
   border-bottom-style: solid;
   border-color: #dddddd;
}

.buttons {
    font-size: 17px;
    background-color: white;
    position:relative;
    transition: .5s ease;
    top: 20px;
    left: 780px;
    right: -420px;
    bottom: -191px;
}

#one, #two, #three {
    background-color: white;
    color: #777777;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: left;

}

.button1, .button2 {
    border-right: 0.1px;
    border-right-style: solid;
    border-color: #dddddd;
}

.portfolio {
    background-color: white;
    width: 650px;
    height: 1060px;
    padding: 25px;
    margin: 0px auto;
    position: absolute;
    left: 90px;
    top: 105px;
    float: left;
    border-top: 0.1px;
    border-style: solid;
    border-color: #cccccc;
}
.footer2 {
    background-color: #666666;
    color: white;
    padding: 15px;
    width: 1350px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 1200px;
    text-align: center;
    border-top: 6px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #4aaaa5;
}
#hangman, #rpggame, #triviagame, #Rutgersinfowidget, #rockpaper{
    width: 250px;
    height: 190px;
}

#hangman {
    position: absolute;
    left: 30px;
    top: 180px;
}

#rpggame {
    position: absolute;
    left: 375px;
    top: 180px;
}

#triviagame {
    position: absolute;
    left: 30px;
    top: 500px;
}

#Rutgersinfowidget {
    position: absolute;
    left: 375px;
    top: 500px;
}

#rockpaper {
    position: absolute;
    left: 30px;
    top: 820px;
}

#hangmantext, #rpgtext, #triviagametext, #Rutgersinfowidgettext, #rockpapertext {
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    font-family: 'Georgia', Times, serif;
    text-align: center;
    width: 250px;
    height: 50px;
}

#hangmantext {
    position: absolute;
    left: 30px;
    top: 305px;
    z-index: 1;
}

#rpgtext {
    position: absolute;
    left: 375px;
    top: 305px;
    z-index: 1;
}

#triviagametext {
    position: absolute;
    left: 30px;
    top: 625px;
    z-index: 1;
}

#Rutgersinfowidgettext {
    position: absolute;
    left: 375px;
    top: 625px;
    z-index: 1;
}

#rockpapertext {
    position: absolute;
    left: 30px;
    top: 945px;
    z-index: 1;
}

#submit_button {
    background-color: #4aaaa5;
    color: white;

}

@media only screen and (max-width: 980px) {
    .header{
        width: 80%;
    }
    .buttons{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .columncontent{
        width: 100%;
    }
    .backgroundimage{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .header{
        width: 80%;
    }
    .buttons{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .columncontent{
        width: 100%;
    }
    .backgroundimage{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .header{
        width: 80%;
        font-size: auto;
        align-content: left;
        left: 0px;
        top: 0px;
    }
    .buttons{
        width: 100%;
        left: -10px;
        top: 80px;
    }
    .footer{
        width: 100%;
        left: 0px;
        top: 800px;

    }
    .footer2{
        width: 100%;
        left: 0px;
        top: 1500px;
    }

    .columncontent{
        width: 100%;
        left: 0px;
        top: 140px;
    }
    p{
        left: 10px;
        top: 330px;

    }
    .backgroundimage{
        width: 0%;
        left: 0px;
        top: 140px;
    }
    .sidebar{
        width: 100%;
        height: 20%;
        left: 0px;
        top: 640px;
    }
    .sidebar2{
        width: 100%;
        height: 20%;
        left: 0px;
        top: 1330px;
    }
    .portfolio{
        width: 100%;
        height: 200%;
        left: 0px;
        top: 140px;
        float: left;
    }

#hangman {
    left: 30px;
    top: 180px;
}

#rpggame {
    left: 30px;
    top: 360px;
}

#triviagame {
    left: 30px;
    top: 540px;
}

#Rutgersinfowidget {
    left: 30px;
    top: 720px;
}

#rockpaper {
    left: 30px;
    top: 900px;
}

#hangmantext {
    left: 30px;
    top: 300px;
}

#rpgtext {
    left: 30px;
    top: 480px;
}

#triviagametext {
    left: 30px;
    top: 660px;
}

#Rutgersinfowidgettext {
    left: 30px;
    top: 840px;
}

#rockpapertext {
    left: 30px;
    top: 1020px;
}